fastapi==0.136.1
joblib==1.5.2
matplotlib==3.10.9
numpy==2.4.4
pandas==3.0.2
pydantic==2.13.3
python-dotenv==1.2.2
python_bcrypt==0.3.2
python_jose==3.3.0
python_jose==3.5.0
scikit_learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
SQLAlchemy==2.0.49
statsmodels==0.14.5
tensorflow==2.20.0
